$white: #f6f6ff;
$black: #151722;
// red
$red: #9d2400;
$lightred: #b15033;
$darkred: #7e1d00;
// green
$green: #316948;
$lightgreen: #5a876d;
$darkgreen: #27543a;
// blue
$blue: #126da6;
$lightblue: #418ab8;
$darkblue: #0e5785;
$verylightblue: #e7f0f6;

$gold: #e0c093;
